{% extends 'trip/base.html' %}

{% load crispy_forms_tags %}


<title>
        {% block title %}
        {{ block.super }}  Registration
        {% endblock title %}
</title>


{% block content %}


<div class="container">

                <h4 class="h3 mb-3 font-weight-normal sred">Welcome to The Registration Page!</h4>
         
                <h5 class="h4 mb-3 font-weight-normal">Registration Form</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn waves-effect  orange darken-1 z-depth-3" type="submit">Register</button>
                    </form>
    
        </div>

{% endblock %}

