{% extends 'trip/base.html' %}


<title>
        {% block title %}
        {{ block.super }}  Trip Buddy Application
        {% endblock title %}
</title>


{% block content %}

<div class="container">
<div class="card-panel teal lighten-3 flex-container">
        <h3 class="h3 mb-3 font-weight-normal">Welcome, to the Trip Buddy App!</h3>               
                <div class="flex-container">
                </div>
                <a href="{% url 'register' %}"><button class="btn-floating btn-large pulse waves-effect red lighten-2 z-depth-3">Start!</button></a>      
                
        </div>


</div>
{% endblock %}
