{% extends 'trip/base.html' %}

{% load crispy_forms_tags %}


<title>
        {% block title %}
        {{ block.super }}  Add Review
        {% endblock title %}
</title>
        
        
{% block content %}

<div class="container">
		<div class="mb-3 font-weight-normal flex-center">
			<h3 class="h3 mb-3 font-weight-normal sred">Welcome to the Create a Comment Page!</h3>
			<div class="jumbotron-com blue darken-4  ">
				<h5 class="h4 mb-3 font-weight-normal afav">Comment Response</h5>
				<form action="" method="post" class="form-control-lg">
					{% csrf_token %}
                    <p>{{ form|crispy }}</p>

					<button class="btn waves-effect orange darken-1 z-depth-3" type="submit">Add</button>

				</form>
			</div>
		</div>
</div>

{% endblock %}