{% extends 'trip/base.html' %}

{% load crispy_forms_tags %}

<title>
        {% block title %}
        {{ block.super }}  Create Travel Plan
        {% endblock title %}
</title>
        
        
{% block content %}


<div class="container">
		<div class="h3 mb-3 font-weight-normal flex-center">
			<h3 class="h3 mb-3 font-weight-normal">Welcome to the Create a Travel Plan Page!</h3>
			<div class="jumbotron-trav teal lighten-3 ">
				<h5 class="h4 mb-3 font-weight-normal">Travel Plan Form</h5>
				<form action="" method="post" class="form-control-lg teal lighten-3">
					{% csrf_token %}

					<p>{{ form|crispy }}</p>				

					<button class="btn waves-effect red lighten-2 z-depth-3" type="submit">Add</button>

				</form>
			</div>
		</div>
</div>

{% endblock %}