{% extends 'trip/base.html' %}

<title>
        {% block title %}
        {{ block.super }}  Create Travel Plan
        {% endblock title %}
</title>
        
        
{% block content %}


<div class="h3 mb-3 font-weight-normal flex-center">
	<h3 class="h3 mb-3 font-weight-normal sred">Update Your Trip</h3>
	<div class="jumbotron-reg blue darken-4 ">

			<form action="" method="post" class="form-control">
				{% csrf_token %}

				{{ form.as_table }}

				<input class="btn btn-primary orange darken-1" type="submit" value="Update">

			</form>

		</div>
	
		
</div>

{% endblock %}